<div class="row">
  <div class="col-md-6">
      <div class="rectangle-8">
        <h1 id="primer-paso-text">¡Da el Primer Paso!
            Estudia con Nosotros</h1>
      </div>
  </div>
  <div class="col-md-6">
      <div class="rectangle-7" id="problemas-text" style="background-color: #284AA0 !important;">
          Si tiene problemas, puedes comunicarte con nosotros a través del PBX (+57) (2) 481 0110 o desarrollo@existaya.com
      </div>
  </div> 
</div>

<div class="container" id="contenedor-form">
    <form action="">
      <div class="row">
        
          <div class="col-md-6">
            <h1 id="titulo-form">Datos personales</h1>
            
                <div class="form-group">
                  <label for="nombre">Nombre completo *:</label>
                  <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                  <label for="numero">Número de Contacto *:</label>
                  <input type="number" class="form-control" id="numero">
                </div>
                <div class="form-group">
                  <label for="email">Correo Electrónico *:</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="fecha-nacimiento">Fecha de Nacimiento *:</label>
                  <input type="date" class="form-control" id="fecha-nacimiento">
                </div>
            
          </div>
          <div class="col-md-6">
            <br>
            <br>
            <br>
            <div class="form-group">
              <label for="departamento">Departamento *:</label>
              <input type="email" class="form-control" id="departamento">
            </div>
            <div class="form-group">
              <label for="ciudad">Ciudad *:</label>
              <input type="date" class="form-control" id="ciudad">
            </div>
          </div>      
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="" id="btn-registrarme"><i class="glyphicon glyphicon-pencil"></i> &nbsp;Registrarme</a>
          </div>
        </div>
      </form>
</div>
