<div class="container">
    <div class="row text-center" style="background-color: #fff !important;">
        <img src="../../assets/imagenes/imagen4.png" alt="" width="70%">
        <br>
        <p class="pull-left" id="footer-1">
            © 2019 Sitio WEB de pruebas Front | Todos los derechos reservados  |  Powered by
        </p>
        <p class="pull right" id="footer-2">
            Ley 115   |   Términos y condiciones   |   Política de tratamiento de datos
        </p>
      </div>
</div>