<app-nav-var></app-nav-var>
<div class="col-sm-12" style="width: 90% !important;">
    <app-intro-component></app-intro-component>
    <br>
    <br>
    <app-programas-component></app-programas-component>
    <br>
    <br>
    <app-equivalencia-component></app-equivalencia-component>
    <br>
    <br>
</div>
<div class="col-sm-12" style="width: 98% !important;">
    <app-test-component></app-test-component>
</div>

<div class="col-sm-12" style="width: 90% !important;">
    <br>
    <br>
    <br>
    <br>
    <app-contacto-component></app-contacto-component>
    <br>
    <br>
    <app-footer-component></app-footer-component>
</div>
<router-outlet></router-outlet>
