<div class="container">
  <div class="row text-center">
    <h2>Con nuestro programa de ingles podrás:</h2>
  </div>
  <ul class="nav nav-tabs nav-justified" id="nav_niveles">
    <li class="active text-center" id="1"><a data-toggle="tab" href="#nivel1">Nivel 1 al 4 <hr> Fundamental</a></li>
    <li class="text-center" id="2"><a data-toggle="tab" href="#nivel2">Nivel 5 al 8 <hr> Fundamental Plus</a></li>
    <li class="text-center" id="3"><a data-toggle="tab" href="#nivel3">Nivel 9 al 12 <hr> Pre Independent</a></li>
    <li class="text-center" id="4"><a data-toggle="tab" href="#nivel4">Nivel 13 al 16 <hr> Independent</a></li>
  </ul>
  
    <div class="tab-content" style="background-color: #fff !important;">
      <div id="nivel1" class="tab-pane fade in active" style="background-color: #fff !important;">
        <div class="col-md-6" style="background-color: #fff !important;">
            <br>
            <a data-toggle="tab" href="#nivel4" onclick="cambiar_estado(1,4)">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a data-toggle="tab" href="#nivel2" onclick="cambiar_estado(1,2)">
                <i class="glyphicon glyphicon-arrow-right"></i>
            </a>
            <h3><b>Fundamental</b></h3>
            <ul id="listado">
              <li>Dar información personal.</li>
              <li>Ir de compras.</li>
              <li>Hablar de tu familia.</li>
              <li>Escribir un correo electrónico corto.</li>
              <li>Seguir direcciones en un mapa.</li>
              <li>Hacer una reserva en un hotel.</li>
              <li>Hablar con alguien de algún viaje que realizaste.</li>
            </ul>
            <h1 id="nivel_degrade"><b>Nivel 1 al 4</b></h1>
          </div>      
        <div class="col-md-6" style="background-color: #fff !important;">
          <img src="../../assets/imagenes/imagen2.png" alt="" width="95%">
        </div>
      </div>
      
      <div id="nivel2" class="tab-pane fade" style="background-color: #fff !important;">
        <div class="col-md-6" style="background-color: #fff !important;">
            <br>
            <a data-toggle="tab" href="#nivel1" onclick="cambiar_estado(2,1)">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a data-toggle="tab" href="#nivel3" onclick="cambiar_estado(2,3)">
                <i class="glyphicon glyphicon-arrow-right"></i>
            </a>
            <h3><b>Fundamental</b></h3>
            <ul id="listado">
              <li>Dar información personal.</li>
              <li>Ir de compras.</li>
              <li>Hablar de tu familia.</li>
              <li>Escribir un correo electrónico corto.</li>
              <li>Seguir direcciones en un mapa.</li>
              <li>Hacer una reserva en un hotel.</li>
              <li>Hablar con alguien de algún viaje que realizaste.</li>
            </ul>
            <h1 id="nivel_degrade"><b>Nivel 5 al 8</b></h1>
          </div>      
        <div class="col-md-6" style="background-color: #fff !important;">
          <img src="../../assets/imagenes/imagen2.png" alt="" width="95%">
        </div>
      </div>

    <div id="nivel3" class="tab-pane fade" style="background-color: #fff !important;">
      <div class="col-md-6" style="background-color: #fff !important;">
          <br>
          <a data-toggle="tab" href="#nivel2" onclick="cambiar_estado(3,2)">
              <i class="glyphicon glyphicon-arrow-left"></i>
          </a>
          &nbsp;&nbsp;&nbsp;
          <a data-toggle="tab" href="#nivel4" onclick="cambiar_estado(3,4)">
              <i class="glyphicon glyphicon-arrow-right"></i>
          </a>
          <h3><b>Fundamental</b></h3>
          <ul id="listado">
            <li>Dar información personal.</li>
            <li>Ir de compras.</li>
            <li>Hablar de tu familia.</li>
            <li>Escribir un correo electrónico corto.</li>
            <li>Seguir direcciones en un mapa.</li>
            <li>Hacer una reserva en un hotel.</li>
            <li>Hablar con alguien de algún viaje que realizaste.</li>
          </ul>
          <h1 id="nivel_degrade"><b>Nivel 9 al 12</b></h1>
        </div>      
      <div class="col-md-6" style="background-color: #fff !important;">
        <img src="../../assets/imagenes/imagen2.png" alt="" width="95%">
      </div>
    </div>

    <div id="nivel4" class="tab-pane fade" style="background-color: #fff !important;">
      <div class="col-md-6" style="background-color: #fff !important;">
          <br>
          <a data-toggle="tab" href="#nivel3" onclick="cambiar_estado(4,3)">
              <i class="glyphicon glyphicon-arrow-left"></i>
          </a>
          &nbsp;&nbsp;&nbsp;
          <a data-toggle="tab" href="#nivel1" onclick="cambiar_estado(4,1)">
              <i class="glyphicon glyphicon-arrow-right"></i>
          </a>
          <h3><b>Fundamental</b></h3>
          <ul id="listado">
            <li>Dar información personal.</li>
            <li>Ir de compras.</li>
            <li>Hablar de tu familia.</li>
            <li>Escribir un correo electrónico corto.</li>
            <li>Seguir direcciones en un mapa.</li>
            <li>Hacer una reserva en un hotel.</li>
            <li>Hablar con alguien de algún viaje que realizaste.</li>
          </ul>
          <h1 id="nivel_degrade"><b>Nivel 13 al 16</b></h1>
        </div>      
      <div class="col-md-6" style="background-color: #fff !important;">
        <img src="../../assets/imagenes/imagen2.png" alt="" width="95%">
      </div>
    </div>
</div>