<div class="row">
  <div class="col-md-6">
    <img src="../../assets/imagenes/imagen1.png" alt="imagen1" width="90%" height="100%">
  </div>
  <div class="col-md-4">
    <h3 id="cursos-titulo"><b>Cursos</b></h3>
    <br>
    <h1 id="ingles-adultos">Inglés para Adultos</h1>
    <br>
    <h2 id="programa-texto"><b>Este programa está dirigido para personas de los 15 años en adelante.</b></h2>
    <br>
    <p id="contenido-programa">
      Es un programa de inglés comunicativo que consta de 16 niveles los cuales se dividen en 4 modulos, 
      cada uno de 4 niveles. Cada nivel es de 32 horas. Los resultados obtenidos están ligados al Marco Común
      Europeo de Referencia (MCER).
      <br><br>
      Nuestras clases son altamente participativas fomentanto la interacción con tus compañeros de clase y docentes
      desde un enfoque comunicativo en contextos de la vida cotidiana. Aunque el énfasis es en la compentencia comunicativa, 
      se profundiza tambien en las estructuras gramáticales y vocabulario.
    </p>
    <br>
    <button class="btn btn-lg btn-personalizado">Más información</button>
  </div>
</div>