#cursos-titulo {
    color: #5A6776;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }
#ingles-adultos {
    color: #333333;
    font-family: Rubik;
    font-size: 50px;
    font-weight: 400;
    line-height: 72px;
    width: 585px;
    text-align: left;
  }

#programa-texto {
    color: #284AA0;
    font-family: Rubik;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    width: 585px;
    text-align: left;
  }
#contenido-programa {
    color: #333333;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    width: 585px;
    text-align: left;
  }

.btn-personalizado {
    background-color: #284AA0 !important;
    color: #ffffff !important;
}