<nav class="navbar navbar-default barra-personalizada">
  <div class="container-fluid">
    <div class="row" id="#barra-ppal">
      <div class="col-md-3">
          <div class="row text-center">
              <a class="" href="#"><img src="../../assets/imagenes/logo.png" alt="logo" width="200px" height="100%"></a>
          </div> 
      </div>   
      <div class="col-md-9">
        <div class="row">
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                  <a class="nav-link active" href="#"><i class="glyphicon glyphicon-earphone"></i> &nbsp;PBX (+57) (2) 485 0110</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Menú secundario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Noticias</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ingreso a Moodle</a>
                </li>
              </ul>
        </div>
        <div class="row">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><b><p id="titulo-m-1">Titulo menú 01</p></b></a></li>
                <li><a href="#"><b><p id="titulo-m-2">Titulo menú 02</p></b></a></li>
                <li><a href="#"><b><p id="titulo-m-3">Titulo menú 03</p></b></a></li>
                <li><a href="#"><b><p id="titulo-m-4">Titulo menú 04</p></b></a></li>
                <li><a href="#"><b><p id="titulo-m-5">Titulo menú 05</p></b></a></li>
              </ul>
        </div>
      </div>            
    </div>
  </div>
</nav>