.barra-personalizada {
    font-family: 'Rubik', sans-serif;
    font-size: 12px !important;
    background-color: #ffffff !important;
}

#barra-ppal {
    background-color: #FFFFFF;
    width: 1920px;
    height: 115px;
}

#titulo-m-1 {
    color: #284AA0;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
}

#titulo-m-2 #titulo-m-3 #titulo-m-4 #titulo-m-5 {
    color: #333333;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
  }
