h1 {
    font-size: 50px !important;
}

#texto-test {
    padding: 80px 10px 10px 18.75%;
}

#mide-gratis {
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    width: 483px;
    text-align: left;
}

#primer-paso {
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    width: 483px;
    text-align: left;
}