<div class="container">
  <div class="row">
    <div class="col-md-7">
        <h1>Equivalencia con el Marco Común Europeo de Referencia (MCER)</h1>
    </div>
  </div>
  
  <br>
  <br>
  <div class="row">
    <table class="table borderless">
      <thead>
        <tr>
          <td style="background-color: #ffffff !important;"><b>Programa de inglés para Adultos (Programa 4 días, Sábado e Intensivos)</b></td>
          <td style="background-color: #e2e2e2 !important;"><b>Material de estudio</b></td>
          <td style="background-color: #cecece !important;"><b>Ciclo</b></td>
          <td style="background-color: #bcbcbc !important;"><b>Horas</b></td>
          <td style="background-color: #a0a0a0 !important;"><b>Nivel MCER</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="background-color: #ffffff !important;"></td>
          <td style="background-color: #e2e2e2 !important;">Libro life 1</td>
          <td style="background-color: #cecece !important;">Fundamental 1-4</td>
          <td style="background-color: #bcbcbc !important;">128</td>
          <td style="background-color: #a0a0a0 !important;">A1</td>
        </tr>
        <tr>
          <td style="background-color: #ffffff !important;"></td>
          <td style="background-color: #e2e2e2 !important;">Libro life 2</td>
          <td style="background-color: #cecece !important;">Fundamental Plus 1-4</td>
          <td style="background-color: #bcbcbc !important;">128</td>
          <td style="background-color: #a0a0a0 !important;">A2</td>
        </tr>
        <tr>
          <td style="background-color: #ffffff !important;"></td>
          <td style="background-color: #e2e2e2 !important;">Libro life 3</td>
          <td style="background-color: #cecece !important;">Pre Independent 1-4</td>
          <td style="background-color: #bcbcbc !important;">128</td>
          <td style="background-color: #a0a0a0 !important;">B1</td>
        </tr>
        <tr>
          <td style="background-color: #ffffff !important;"></td>
          <td style="background-color: #e2e2e2 !important;">Libro life 4</td>
          <td style="background-color: #cecece !important;">Independent 1-4</td>
          <td style="background-color: #bcbcbc !important;">128</td>
          <td style="background-color: #a0a0a0 !important;">B1+</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>